@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.galleryBoxContainer{
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galleryInternalBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.galleryContentBox{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  gap: 10px;
  color: aliceblue;
  font-family: 'Open Sans', sans-serif;
}
.galleryTitle{
    padding:0 0 10px 0;
    border-bottom: 2px solid white;
    text-align: left;
}
.galleryContent{
    text-align: left;
}
.galleryContentBox img {
  max-width: 100%;
  height: auto;
}
